<nav
  class="relative flex items-center font-medium text-md bg-[#181818] rounded-b-md xl:px-40 pr-6 pl-3 md:px-16 pt-10 pb-10"
>
  <div
    class="container flex items-center w-full mx-auto space-x-4 justify-center"
  >
    <ul class="text-white justify-end gap-8 flex">
      <li class="hover:text-[#ac362e] transition duration-100">
        <a href="/"> Estadisticas</a>
      </li>
      <!-- <li class="hover:text-[#ac362e] transition duration-200">
        <a href="/dna"> Consultar Mutacion</a>
      </li> -->
      <li class="hover:text-[#ac362e] transition duration-200">
        <a href="/registers"> Registros</a>
      </li>
    </ul>
  </div>
</nav>
